@model IEnumerable<JiaoZi.Models.Shuoshuo>
@{
    ViewBag.Title = "动态";
    //Layout = "~/Views/Shared/Layoutkongjian.cshtml";
    Layout = null;
}
    @foreach (var item in Model.OrderByDescending(r => r.Shuoshuo_Time))
    {
        @*<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                   <span class="glyphicon glyphicon-trash"></span>
                </h3>
            </div>

            <div class="panel-body">
                <div class="row" style="margin:50px;height:auto ">
                    <!-- 左-->
                    <div class="col-md-2" style="height:400px;">
                        <!-- 头像 -->
                        <div style="height:20%;text-align:right">
                            <a href="@Url.Action("otheruserkongjian", "Kongjian", new { otheruserid = @item.Users.UserID})" target="_blank">
                                <img src="@item.Users.HeadImage" style="height: 70px;width: 70px;margin-left: 10px;" />
                            </a>
                         
                        </div>
                        <!-- 留白 -->
                        <div style="height:80%"></div>
                    </div>
                    <!--中-->
                    <div class="col-md-8 row" style="height:auto;">
                        <!--边框左-->
                        <div class="col-md-1" style="height:100%;" id="jiantou">
                            <div style="height:100%">

                            </div>
                            <!-- 留白 -->
                            <div style="height:80%"></div>
                        </div>
                        <!--中间右边-->
                        <div class="col-md-10" id="shuocontent">
                            <!--边框上-->
                            <div style="height: 15%; width: 100%;">
                            </div>
                            <!-- 网名 -->
                            <div style="height:15%;width:100%;"></div>
                            <!-- 内容 -->
                            <div style="height:200px;width:100%;overflow-y:auto;">
                                <h4>
                                    @item.Users.UserName
                                    @item.Shuoshuo_Content
                                </h4>
                            </div>
                            <!-- 点赞、评论、时间 -->
                            <div style="width:100%">
                                @using (Html.BeginForm("postshuoshuocomment", "Kongjian", new { shuoshuoid = @item.ShuoshuoID }, FormMethod.Post))
                                {
                                    <div>
                                        @Html.TextArea("commentcontent", new { placeholder = "输入文字" })
                                        <input type="submit" value="确定" />
                                    </div>
                                }
                                <p> @item.Shuoshuo_Time dianzhan 评论<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#@item.ShuoshuoID">评论</button></p>
                                @{Html.RenderAction("shuoshuocomment", "Kongjian", new { shuoshuoid = @item.ShuoshuoID }); }
                            </div>

                        </div>
                        <!--边框右-->
                        <div class="col-md-1" style="height:100%;">
                            <div style="height:100%">
                            </div>
                            <!-- 留白 -->
                            <div style="height:80%"></div>
                        </div>
                    </div>
                    <!-- 右 -->
                    <div class="col-md-2" style="height:400px;">
                        <div style="height:20%"></div>
                        <div style="height:80%"></div>
                    </div>
                </div>
                <hr />
            </div>
        </div>*@


        <div class="panel-title">
            <!--删除 转发 举报-->
            <div class="dropdown">
                <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        @using (Html.BeginForm("deldeteshuoshuo", "Kongjian", new { shuoshuoid = @item.ShuoshuoID }, FormMethod.Post))
                        {
                            <input type="submit" value="删除" style="height:32px;width:160px;" class="btn btn-default" />
                        }
                    </li>
                    <li role="presentation">
                        <button style="height:32px;width:160px;" class="btn btn-default">收藏</button>
                    </li>
                    <li role="presentation">
                        <button style="height:32px;width:160px;" class="btn btn-default">举报</button>

                    </li>
                </ul>
            </div>
            <!--/删除 转发 举报-->

        </div>

        <div class="panel-body">
            <div class="row" style="margin:50px;height:auto ">
                <!-- 左-->
                <div class="col-md-2" style="height:400px;">
                    <!-- 头像 -->
                    <div style="height:20%;text-align:right">

                        <img src="@item.Users.HeadImage" style="height:70px;width:70px;border:5px groove white" />
                    </div>
                    <!-- 留白 -->
                    <div style="height:80%"></div>
                </div>
                <!--中-->
                <div class="col-md-8 row" style="height:auto;">
                    <!--边框左-->
                    <div class="col-md-1" style="height:100%;" id="jiantou">
                        <div style="height:100%">

                        </div>
                        <!-- 留白 -->
                        <div style="height:80%"></div>
                    </div>
                    <!--中间右边-->
                    <div class="col-md-10" id="shuocontent">
                        <!--边框上-->
                        <div style="height: 15%; width: 100%;">
                        </div>
                        <!-- 网名 -->
                        <div style="height:15%;width:100%;"></div>
                        <!-- 内容 -->
                        <div style="height:200px;width:100%;overflow-y:auto;">
                            <h4>
                                @item.Users.UserName
                                @item.Shuoshuo_Content
                            </h4>
                            <p> @item.Shuoshuo_Time </p>
                        </div>
                        <p>
                            <span class="glyphicon glyphicon-comment" data-toggle="collapse" data-target="#@item.ShuoshuoID">(8)</span>
                            <span class="glyphicon glyphicon-thumbs-up">(10)</span>
                            <span class="glyphicon glyphicon-share-alt">(1)</span>
                        </p>
                        <div id="@item.ShuoshuoID" class="collapse">
                            <!-- 点赞、评论、时间 -->
                            <div style="width:100%">
                                @using (Html.BeginForm("postshuoshuocomment", "Kongjian", new { shuoshuoid = @item.ShuoshuoID }, FormMethod.Post))
                                {
                                    <div>
                                        @Html.TextArea("commentcontent", new { placeholder = "输入文字" })
                                        <input type="submit" value="确定" />
                                    </div>
                                }
                                @{Html.RenderAction("shuoshuocomment", "Kongjian", new { shuoshuoid = @item.ShuoshuoID });
                                }
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <!-- 右 -->
                <div class="col-md-2" style="height:400px;">
                    <div style="height:20%"></div>
                    <div style="height:80%"></div>
                </div>
            </div>
            <hr />
        </div>
                                    }
