<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        .empty {
            width: 100%;
            height: 20px;
            background-color: azure;
        }

        a:hover {
            text-decoration: none;
        }

        .main .logo {
            margin-left: 197px;
        }

        .main .sousuo {
            border: 1px solid #cccccc;
            box-shadow: 0 0 5px cornflowerblue;
            border-radius: 22px;
            width: 560px;
            margin: -80px 400px;
            position: relative;
        }

        .main .sinput {
            width: 480px;
            height: 30px;
            outline: none;
            border: none;
            border-right: 1px solid;
        }

        .sousuo .bt {
            position: absolute;
            width: 51px;
            height: 30px;
            background-color: red;
            color: white;
            right: 0;
            top: 0;
            border: none;
            border-radius: 0 15px 15px 0;
        }

        .main .lis {
            width: 480px;
            margin-top: 90px;
            margin-left: 380px;
        }

            .main .lis ul {
                list-style: none;
            }

                .main .lis ul li {
                    float: left;
                    margin-left: 20px;
                    font-size: 12px;
                }

            .main .lis a {
                text-decoration: none;
            }

        .Tx {
            width: 101px;
            height: 50px;
            margin-top: -65px;
            margin-left: 1400px;
        }


        .sty {
            margin-left: 30px;
            margin-top: -20px;
        }

        .na {
            /*width:1759px;*/
            width: 1383px;
            height: 40px;
            background-color: dimgray;
            text-align: center;
        }

            .na span {
                width: 70px;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                margin-left: 20px;
            }

            .na a {
                text-decoration: none;
                color: aliceblue;
            }

                .na a:hover {
                    color: darkred;
                }

        .car {
            position: relative;
            top: -41px;
            left: 200px;
            display: inline-block;
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #ccc;
        }

        #toTop {
            position: fixed;
            width: 50px;
            height: 50px;
            right: 0;
            bottom: 0;
            display: none;
        }

        .footer-dl {
            width: 1758px;
            height: 65px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }

            .footer-dl dl {
                float: left;
                width: 210px;
                margin-top: 5px;
                margin-right: 75px;
            }

                .footer-dl dl dt {
                    float: left;
                    width: 48px;
                    height: 48px;
                    margin-right: 8px;
                }

                .footer-dl dl dd {
                    float: left;
                    height: 48px;
                    width: 140px;
                }

                    .footer-dl dl dd p:first-child {
                        color: red;
                    }

        footer table {
            margin: 0 auto;
            width: 1140px;
        }

        footer th, td {
            display: inline-block;
            width: 84px;
            margin-right: 200px;
        }

        .footer-foot p {
            text-align: center;
        }

        .footer-foot i {
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background: url(images/gwab-icon.png);
        }

        .footer-foot p:last-child a {
            display: inline-block;
            width: 100px;
            height: 25px;
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="empty"></div>
    <div class="main" style="margin-left:100px; height:130px;">
        <div class="logo">
            <img src="~/images/Mall/logo.jpg" style="width:120px;height:100px;">
        </div>
        <div class="sousuo">
            <span class="glyphicon glyphicon-search" style="margin-left:9px; margin-top: 3px;top:8px;"></span>
            @using (Html.BeginForm("Sear", "Mall", FormMethod.Post, new { @class = "sty" }))
            {
                <input type="text" id="search" name="search" class="sinput" placeholder="请输入关键字">
                <button value="搜索" class="bt">搜索</button>
            }
        </div>
        <div class="lis">
            <ul>
                <li><a href="#" style="color:red;">英语教资用书</a> </li>
                <li><a href="#">数学教资用书</a> </li>
                <li><a href="#">语文教资用书</a> </li>
                <li><a href="#">教育学</a> </li>
                <li><a href="#">心理学</a> </li>
            </ul>
        </div>
        <span class="car">
            <a href="@Url.Action("Cars","Mall",new { id=Session["User_id"]})" style="color:red">我的购物车 </a>
        </span>
        <span class="badge" style="position:relative;left:190px;top:-60px;border-radius:50%;background-color:coral" id="Amount">@Html.Action("Num", "Mall")</span>

    </div>
    <div class="Tx">
        @Html.Partial("TX")
    </div>
    @Html.Action("Nav", "Mall")
    <div>
        @RenderBody()
    </div>
    <footer>
        <div id="toTop"><img src="~/images/Css/totop.jpg" style="width:50px;height:50px;" title="回到顶部" /></div>
        <div style="width:1580px;height: 60px;background-color: azure;margin-top:90px;">
            <div style="height:60px; width:500px;margin: 0 auto">
                <div style="height: 1px;width: 140px;margin-left: 70px;margin-top: 30px;border: 1px solid #ccc ;background-color:#ccc; display: inline-block;"></div>
                <span>  END </span>
                <div style="width: 140px;height: 1px;border: 1px solid #ccc; background-color:#ccc;display: inline-block;"></div>
            </div>
        </div>
        <div class="footer-dl">
            <div style="width:1140px;height: 65px;margin:0 auto;">
                <dl>
                    <dt>
                        <img src="~/images/Css/zheng.jpg">
                    </dt>
                    <dd>
                        <p>正品保障</p>
                        <p>正品保障、提供发票</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="~/images/Css/shandian.jpg">
                    </dt>
                    <dd>
                        <p>急速物流</p>
                        <p>如约送货、送货入户</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="~/images/Css/dianzan.jpg">
                    </dt>
                    <dd>
                        <p>售后无忧</p>
                        <p>30天包退、365天包换</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="~/images/Css/wenhao.jpg">
                    </dt>
                    <dd>
                        <p>帮助中心</p>
                        <p>您的购物指南</p>
                    </dd>
                </dl>
            </div>
        </div>
        <div style="width:1758px;">
            <table>
                <tr>
                    <th>购物指南</th>
                    <th>支付方式</th>
                    <th>物流配送</th>
                    <th>售后服务</th>
                </tr>
                <tr>
                    <td>导航演示</td>
                    <td>阿里支付</td>
                    <td>免运费政策</td>
                    <td>退换货政策</td>
                </tr>
                <tr>
                    <td>免费注册</td>
                    <td>网银支付</td>
                    <td>物流配送服务</td>
                    <td>贵就赔</td>
                </tr>
                <tr>
                    <td>常见问题</td>
                    <td>快捷支付</td>
                    <td>签收验货</td>
                    <td>订单修改</td>
                </tr>
                <tr>
                    <td>品牌大全</td>
                    <td>货到付款</td>
                    <td>物流查询</td>
                    <td>我的发票</td>
                </tr>
            </table>
        </div>
        <div class="footer-foot" style="margin-top:10px;">
            <p><a href="#">Copyright&copy; 江西师范大学软件学院</a><span>|</span><span style="display:inline-block;width:20px;height:20px;background:url(../images/Css/gwab-icon.png)"></span><span>公安备号：0791-8316800</span></p>
            <p><span>版权所有:江西师范大学软件学院曾雅琳工作室</span><span>|</span><span>联系电话：13311133333</span></p>
            <p>
                <a>
                    <img src="~/images/Css/chengxin.png">
                </a>
                <a>
                    <img src="~/images/Css/dianxin.jpg">
                </a>
                <a>
                    <img src="~/images/Css/dianzi.png">
                </a>
                <a>
                    <img src="~/images/Css/unicom.png">
                </a>
            </p>
        </div>
    </footer>

</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(window).scroll(function () {
        var height = $(document).scrollTop();
        if (height != 0) {
            $("#toTop").show();
        }
        else
            $("#toTop").hide();
    })
    $("#toTop").click(function () {
        scrollTo(0, 0);
    })
</script>